//- errezeta.pug
extends ./orokorra.pug

block izenburua
  title #{izena} - Errezeta - Sukalde.yml

block edukia
  .columns
    .column.is-one-quarter
      .container
        nav.panel
          p.panel-heading 
            | Osagaiak 
            if garaikoa
              | (garaikoa)
            else
              | (ez garaikoa)
          each val, key in osagaiak
            a.panel-block(href="/osagaiak/" + key + "/")
              | #{val.info.izena} 
              if val.kopurua 
                span(style="color:#666;") #{val.kopurua} 
              if val.aukerakoa
                small (aukerakoa) 
              
        nav.panel
          p.panel-heading Tresnak
          each val, key in tresnak
            a.panel-block(href="/tresnak/" + key + "/")
              | #{key} 
              if val && val.aukerakoa
                small (aukerakoa)
    .column
      .container
        h1.title.is-1.has-text-centered= izena
        nav.level
          .level-item.has-text-centered
            p.heading Erraztasuna
            p.title= erraztasuna
          .level-item.has-text-centered
            p.heading Denbora
            p.title !{denbora} min
          .level-item.has-text-centered
            p.heading Anoak
            p.title= anoak
          .level-item.has-text-centered
            p.heading Prezioa
            p.title= prezioa
        hr 
        .content     
          h1.title Jarraibideak
          ol
            each val, key in jarraibideak
              if(typeof val === 'string')
                li !{val}
              else
                li  
                  small aukerakoa: #{val.aukerakoa} 
                  | !{val.azalpena}   
                  




        
