//- osagaia.pug
extends ./orokorra.pug

block izenburua
  title= izena

block edukia
  section.hero
    .hero-body
      .container
        h1.title.is-1.has-text-centered= saila
        ul
        each errezeta in errezetak
          li
            if saila === 'errezetak'
              a(href="/errezetak/" + errezeta)= errezeta
            else
              a(href="/errezetak/" + saila + "/" + errezeta)= errezeta
