//- indizea.pug
extends ./orokorra.pug

block izenburua
  title Sukalde.yml

block edukia
  section
    .container
      .columns
        .column.is-one-quarter
          h1.title Osagaiak
          ul
            each val, key in osagaiak
              if val.izena
                li
                  a(href="/osagaiak/" + key + "/") #{val.izena}
              else
                li
                  strong= key
                  ul
                    each val1, key1 in val
                      li
                        a(href="/osagaiak/" + key + "/" + key1) #{val1.izena} 
                        if val1.garaikoa
                          | (garaikoa)
                        else
                          | (ez garaikoa)
        .column.is-one-quarter
          h1.title Errezetak
          ul
            each val, key in errezetak
              li
                strong= key
                ul
                  each val1, key1 in val
                    li
                      a(href="/errezetak/" + key + "/" + key1) #{val1.izena}
                      if val1.garaikoa
                        | (garaikoa)
                      else
                        | (ez garaikoa)
        .column.is-half
          h1.title Sukalde.yml
          h2.subtitle YAML <i>lengoaian</i> idatzitako eta Git bidez kudeatutako errezeta liburu euskaldun eta libre/askea
          p Errezeta liburua baino zertxobait gehiago bilakatzeko intentzioa du, hala nolako <strong>asteko menua</strong> egituratzeko laguntza eskainiko du, <strong>garaian garaiko pruduktuak</strong> erabiliaz.
          p(style="margin-top:10px;") Errezetak idaztea erraza izatea du helburu, ahal den informazio eta aukera guztiak bilduz. Hona hemen <a href="/errezetak/barazkiak/zerbak_patatekin">Zerbak patatekin errezeta</a> YAML lengoaian idatzita:
          pre(style="overflow-x:scroll;margin-top:10px;")
            | ---
            | izena: Zerbak patatekin
            | anoak: 4
            | denbora: 30
            | erraztasuna: oso erraza
            | prezioa: merkea
            | osagaiak:
            |   barazkiak/zerba: 6 sorta
            |   barazkiak/patata: 3 ertain
            |   barazkiak/baratzuria:
            |     kopurua: 3 ale
            |     aukerakoa: baratzurizale
            |   espeziak/piperbeltza:
            |     kopurua: gustura
            |     mota: xehetua
            |     aukerakoa: true
            |   espeziak/gatza: gustura
            |   besteak/oliba_olioa: pixka bat
            |   besteak/ura:
            | tresnak:
            |   lapikoa:
            |   zartagina:
            |     aukerakoa: baratzurizale
            | jarraibideak:
            |   - Ondo garbitu barazkiak/zerba-k
            |   - barazkiak/zerba-k zatitu
            |   - barazkiak/patata-k zuritu eta zatitu
            |   - tresnak/lapikoa-n ura, espeziak/gatza eta besteak/oliba_olioa berotzen jarri eta irakiten hastean barazkiak/zerba-k eta barazkiak/patata-k gehitu. 20 minutuz teknikak/egosi.
            |   - azalpena: barazkiak/baratzuria zuritu eta fin moztu. tresnak/zartagina-n su baxuan barazkiak/baratzuria frijitu, barazkiak/zerba-k eta barazkiak/patata-k gehitu eta teknikak/salteatu minutu batez.
            |     aukerakoa: baratzurizale
            |   - azalpena: espeziak/piperbeltza gustura bota
            |     aukerakoa: espeziak/piperbeltza

          p(style="margin-top:10px;") Informazio gehiagorako edo/eta parte hartzeko <a href="https://gitlab.com/sukalde/sukalde.gitlab.io">Git biltegira</a> jo.
