//- orokorra.pug
doctype html
html
  head(lang="eu")
    block izenburua
      title Sukalde.yml
    link(rel="stylesheet",href="/css/bulma.css")

  body
    .header
      nav.nav
        .container
          .nav-left
            a.nav-item.is-brand(href="/")
              strong Sukalde.yml
            a.nav-item(href="/osagaiak") Osagaiak
            a.nav-item(href="/tresnak") Tresnak
            a.nav-item(href="/errezetak") Errezetak
    section.section
      block edukia
    footer.footer
      .container
        .content.has-text-centered
          p
            a(href="/") Sukalde.yml
          p
            a(href="https://gitlab.com/sukalde/sukalde.gitlab.io") iturburu kodea
