//- osagaia.pug
extends ./orokorra.pug

block izenburua
  title= izena

block edukia
  section.hero
    .hero-body
      .container
        h1.title.is-1.has-text-centered= saila
        if saila === 'osagaiak'
          ul
          each osagaia in osagaiak
            li
                a(href="/osagaiak/" + osagaia)= osagaia
        else
          table
            thead
              tr
                th osagaia
                th.has-text-centered urt
                th.has-text-centered ots
                th.has-text-centered mar
                th.has-text-centered api
                th.has-text-centered mai
                th.has-text-centered eka
                th.has-text-centered uzt
                th.has-text-centered abu
                th.has-text-centered ira
                th.has-text-centered urr
                th.has-text-centered aza
                th.has-text-centered abe
            tbody
              each osagaia in osagaiak
                tr
                  td
                    a(href="/osagaiak/" + saila + "/" + osagaia.key)= osagaia.izena
                  each val in [1,2,3,4,5,6,7,8,9,10,11,12]
                    if osagaia.garaia
                      if osagaia.garaia[val]
                        td.has-text-centered(style = "background-color: " + ( osagaia.garaia[val] === '+' ? 'green;color:white;' : 'yellow;' ) )
                          | bai #{osagaia.garaia[val]}
                      else
                        td.has-text-centered
                          | ez
                    else
                      td.has-text-centered(style = "background-color: green; color: white;") bai
