//- osagaia.pug
extends ./orokorra.pug

block izenburua
  title= izena

block edukia
  section.hero
    .hero-body
      .container
        h1.title.is-1.has-text-centered= izena
  section
    .container
      if azalpena
        p= azalpena.edukia
        if azalpena.jatorria
          p
            small Jatorria: #{azalpena.jatorria}
    .container
      table
        thead
          tr
            th.has-text-centered urt
            th.has-text-centered ots
            th.has-text-centered mar
            th.has-text-centered api
            th.has-text-centered mai
            th.has-text-centered eka
            th.has-text-centered uzt
            th.has-text-centered abu
            th.has-text-centered ira
            th.has-text-centered urr
            th.has-text-centered aza
            th.has-text-centered abe
        tbody
          tr
            each val in [1,2,3,4,5,6,7,8,9,10,11,12]
              if garaia
                if garaia[val]
                  td.has-text-centered(style = "background-color: " + ( garaia[val] === '+' ? 'green;color:white;' : 'yellow;' ) )
                    | bai #{garaia[val]}
                else
                  td.has-text-centered
                    | ez
              else
                td.has-text-centered(style = "background-color: green; color: white;") bai
      hr
      .container
        .columns
          .column.is-one-quarter
            h1.title Errezetak
            ul
              each val, key in errezetak
                li
                  strong= key
                  ul
                    each val1, key1 in val
                      li
                        a(href="/errezetak/" + key + "/" + key1)= val1.izena
          .column
            .columns
              if irudiak
                each irudia in irudiak
                  .column.is-one-quarter
                    figure.image
                      img(src='irudiak/' + irudia.fitxategia)
