//- osagaia.pug
extends ./orokorra.pug

block izenburua
  title= izena

block edukia
  section.hero
    .hero-body
      .container
        h1.title.is-1.has-text-centered Tresnak
        ul
        each tresna in tresnak
          li
            a(href="/tresnak/" + tresna)= tresna
